
textarea,
pre {
    -moz-tab-size : 4;
      -o-tab-size : 4;
         tab-size : 4;
}

::-moz-selection { 
	color: black;  
	background-color:yellow ;
}

::selection {
    color: black;  
	background-color:yellow ;
}

b, strong {
    font-weight: 900;
}

.blob-code {
	width: 90%;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 30px;
    vertical-align: top;
	font-family: 'Merriweather';
    font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.front-page-text {
	color: #737782 !important;
	font-weight: 300 !important;
	font-family: Inter, Helvetica, Arial, sans-serif !important;
	font-size: 20px !important;
}

.blob-comment {
	width: 10%;
	min-width: 150px;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 30px;
    vertical-align: top;
	font-size: 14px;
}

.form-control-lg{
	font-size: 0.875rem;
	padding: 1rem 1.875rem;
}

.form-label{
	font-family: 'Mulish-Bold';
	font-weight: 700;
	color: rgba(31, 21, 52, 0.8);
}

.form-select{
	font-weight: 700;
	font-family: 'Mulish-Bold';
}

.yt_select_class_mode {
	margin-top: 8px !important;
	width: 100px !important;
}

.student_only {
	margin-top: 4px;
	
}

.mode_text {
	color: rgb(247, 203, 121);
	font-family: 'Mulish-Bold';
	font-weight: 700;
	font-size: 20px;
	margin-right: 8px !important;
}

.js-k {
	color: #0000FF;
}

.js-yt {
	color: #800080;
}

.js-d {
	color: #A9A9A9;
}

.js-nk {
	color: #000000;
}

.displayCode {
    background: #ffffff;
}

.displayComment {
	background: #ffffff;
	color: #FF0000
}

.displayCodeHi {
    background: #00FF00;
}


.ta-btn-minmax {
    position:absolute;
    top: 0px;
    right:0px;
    width: 30px;
	height: 26px;
	background-color: #d3d3d3;
	transition: all ease-in-out 0.2s;
	cursor: pointer;
}

.ta-btn-minmax:hover{
  border: 1px solid #888;
  background-color: #a9a9a9;
}

.ta-container {
	position:relative;
	height:700px !important; 
	width: 100%;
}

.ta-container-max {
	position:absolute;
	left: 0;
	right: 0;
	top: 0;
	background-color: grey;	
	display: flex;
	width: 65vw;					
	height: 3000px;
	border:outset 4px orange;
}

.ta-btn-minmax-zorder-left {
	z-index: 99 !important;			/* ON TOP */
}

.ta-btn-minmax-zorder-right {
	z-index: 90 !important;			/* ON TOP */
}

.ta-btn-minmax-zorder-lower-left {
	z-index: 81 !important;			/* ON TOP */
}

.ta-container-zorder-left {
	z-index: 88 !important;			/* ON TOP */
}

.ta-container-zorder-lower-left {
	z-index: 80 !important;			/* ON TOP */
}

.ta-container-zorder-right {
	z-index: 77 !important;			/* ON TOP */
}

.input-board-teacher {
	height: 600px !important;       
    overflow-y: auto;    			/* Trigger vertical scroll    */
    overflow-x: hidden;  			/* Hide the horizontal scroll */
	font-family: 'Merriweather';
    font-weight: 700;
	font-size: 24px;
	color: white;
	background: #274c43;
    line-height: 1.5;
	border:outset 4px orange;
}

.input-board {
    height: 100% !important; 
	width: 100%;
    overflow-y: auto;    			/* Trigger vertical scroll    */
    overflow-x: hidden;  			/* Hide the horizontal scroll */
	font-family: 'Merriweather';
    font-weight: 700;
	font-size: 18px;
    line-height: 1.5;
	color: white;
	background: #274c43;
	border:outset 4px orange;
	margin-right: 5px;
}

.output-board {  
	height: 100% !important;   
	width: 100%;	
    overflow-y: auto;    			/* Trigger vertical scroll    */
    overflow-x: hidden;  			/* Hide the horizontal scroll */
	font-family: 'Merriweather';
    font-weight: 300;
	font-size: 20px;
    line-height: 1.5;
	background: #ffffff !important;
	color: #f41515;
	/* border:outset 4px orange; */
}

.output-board-teacher {  
	height: 600px !important;    
    overflow-y: auto;    			/* Trigger vertical scroll    */
    overflow-x: hidden;  			/* Hide the horizontal scroll */
	font-family: 'Merriweather';
    font-weight: 300;
	font-size: 24px;
    line-height: 1.5;
	background: #ffffff !important;
	color: #B026FF;
	border:outset 4px orange;
}

.student-input-board-container-extent {
    position:relative; 
	background-color: grey;	
	display: inline-block;
	width: 58vw;								/* <-- children as wide as the browser window (viewport) */
	height: 40vw;
	border:outset 4px orange;
}

.student-input-board-extend {
	position:relative;
    border:none;
	width: 58vw;								/* <-- children as wide as the browser window (viewport) */
	height: 40vw;
	overflow-y: auto;    						/* Trigger vertical scroll    */
	z-index: 99 !important;						/* ON TOP */
	background: #000000;
	color: #FFFFFF;
	resize: none;
    outline: none;	
}

.center_col{
	margin-left: 5%;
}

.student_rte_board {
	overflow-y: auto;  
	overflow-x: auto;
	white-space: nowrap;
	height: 300px;
}

.student-msg-board-extend {
	position:relative;
    border:none;
	width: 58vw;								/* <-- children as wide as the browser window (viewport) */
	height: 20vw;
	overflow-y: auto;    						/* Trigger vertical scroll    */
	z-index: 99 !important;						/* ON TOP */
	background: #ccffff;
	color: #000000;
	resize: none;
    outline: none;
	border:outset 4px orange;	
}

.teacher-msg-board-extend {
	position:relative;
	top: 0;
    border:none;
	width: 58vw;								/* <-- children as wide as the browser window (viewport) */
	height: 10vw;
	overflow-y: auto;    						/* Trigger vertical scroll    */
	z-index: 99 !important;						/* ON TOP */
	background: #ccffff;
	color: #000000;
	resize: none;
    outline: none;	
	border:outset 4px orange;
}

.student-input-board-button-run-code {
	position: absolute;
	margin-top: 48px;
    margin-right: 16px;
	top: 4.2vw;
	left: 50vw;
	z-index: 100 !important;	
    width: 5vw;
    height: 1.8vw;
    border: 1px solid #ddd;
	color:  #00ff00;
    background-color:#ff0000;
	line-height: 50%
}

.student-input-board-button-close {
	z-index: 100 !important;	
    background-image: url('../images/dynamic/button-close.png');
	background-size: 2.7vw 1.8vw;
    width: 2.7vw;  
    height: 1.8vw;
	background-color:#ff0000;
	position: absolute;
	margin-top: 48px;
}

.student-input-board-button-close-size {
	position: absolute;
	top: 4.2vw; 
	left: 55.8vw; 
}

.student-input-board-button-close-size2 {
	position: absolute;
	top: 6.0vw; 
	left: 55.8vw; 
}

.student-msg-board-button-send-msg {
	position: absolute;
	margin-top: 1px;
    margin-right: 2px;
	top: 28vw;
	left: 53.7vw;
	z-index: 100 !important;	
    width: 90px;
    height: 30px;
    border: 1px solid #ddd;
	color:  #00ff00;
    background-color:#ff0000;
	line-height: 50%
}

.btn-tool-dimention {
	background-size: 64px 64px;
    width:  64px;  
    height: 62px;
	border: none;
}

.btn-save-db {
	background-image: url('../images/dynamic/save_db.png');
}

.btn-run-code {
	background-image: url('../images/dynamic/run_code.png');
}

.btn-eraser {
	background-image: url('../images/dynamic/eraser.png');
}

.yt-li-dimention {
	margin-right: 2px !important;
}

.btn-mail-box-dimention {
	background-color: #39ac73;
	border: none;
	color: #eeeeee;
	cursor: pointer;
	display: inline-block;
	font-family: sans-serif;
	font-size: 20px;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	margin-top: 1px;
}

.yt_dl {
	background-color: hwb(0 96% 0%) !important;
	height: 80px !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 5px;
}

.btn-dl-action {
	width: 50%;
	float: right;
	background-color: hsl(88, 50%, 45%);
	border: none;
	color: #eeeeee;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 20px;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	margin-top: 1px;
}

.btn-mail-box-dimention-teacher {
	background-color: #1c87c9;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: none;
	color: #eeeeee;
	cursor: pointer;
	display: inline-block;
	font-family: sans-serif;
	font-size: 20px;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	width: 100px;
    height: 40px;
	margin-top: 4px
}

@keyframes glowing {
	0% {
	  background-color: #ff0000;
	  box-shadow: 0 0 5px #2ba805;
	}
	50% {
	  background-color: #1c87c9;
	  box-shadow: 0 0 20px #49e819;
	}
	100% {
	  background-color: #1c87c9;
	  box-shadow: 0 0 5px #2ba805;
	}
  }
  
.btn-mail-box-with-msg {
	animation: glowing 1300ms infinite;
}

.msg-board {

	width: 98% !important;
	padding-right: 6px;
	margin-right: 4px;
    overflow-y: auto;    			/* Trigger vertical scroll    */
    overflow-x: hidden !important;  			/* Hide the horizontal scroll */
	font-family: 'Merriweather';
    font-weight: 300;
	font-size: 20px;
    line-height: 1.5;
	background: #ffffff !important;
	color: #000000;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 5px;
}

.msg-board-dimention-big {
	height: 600px !important;
}

.msg-board-dimention-midium {
	height: 500px !important;
}

.msg-board-dimention-small {
	margin-top: 6px;
	height: 100px !important;
}

.msg_in {
	width: 45%;
	float: left;
	margin-left: 2px;
	margin-top: 2px;
	color: rgb(35, 33, 33);
	font-size: 18px;
	background-color: #b7ff00;
}

.msg_out {
	width: 45%;
	float: right;
	margin-left: 60px;
	margin-top: 2px;
	color: rgb(35, 33, 33);
	font-size: 18px;
	background-color: #dff0df;
}

.yt-video-area {
	background-repeat:no-repeat;
	background-size:contain;
	height:100%;
	width:500px;;
	background-image: url('../images/dynamic/empty-avatar.png') !important;
	border:outset 4px orange;
}

.yt-video {
	width: 100%;
}

.yt-video-max {
	position:absolute;
	top: 0;
    border:outset 4px orange;
	width: 100vw;								/* <-- children as wide as the browser window (viewport) */
	height: 100%;
	overflow-y: auto;    						/* Trigger vertical scroll    */
	z-index: 99 !important;						/* ON TOP */
	background: #ccffff;
	color: #000000;
	resize: none;
    outline: none;
	border:outset 4px orange;
}

.tooltip { 
  position: absolute; 
  opacity: 0; 
  z-index: 1;
  left: 10%;
  top: -80px;
  transform: translateX(-50%);
}

.tooltiptext {
  display: none; 
  flex-direction: column; 
  justify-content: flex-start; 
  background-color: #ff0000;
  padding: 18px; 
  border-radius: 5px; 
  color: white; 
  font-size: 20px;
  line-height: 15px;
  transition: 1s;
  width: 250px;
}

.tool-tbtn-dimention {
	margin-left:  0 !important;
	padding-left: 0 !important;
	margin-right:  0 !important;
	padding-right: 0 !important;
    float:left;
}

.tool-tbtn-dimention-left {
	margin-right:  0 !important;
	margin-left:  0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
    float:right;

}

.selected_tab {
	background-color: #007fff;
	color: #ffffff !important; 
	border:outset 1px red;
	width: 100%;
}

.unselected_tab {
	background-color: #d3d3d3;
	color: rgb(6, 6, 6); 	
	border:outset 1px white;
	width: 100%;
}

.tab_button {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: transparent;
	color: inherit;
	border: none;
    outline: none;
}

.tiphost:hover .tooltiptext {
	display: flex;
}

.tiphost:hover .tooltip { 
  opacity: 1; 
  transition: 0.5s;
  transition-delay: 0.1s;
}

button, input, textarea, select {
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #3b3b3b;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    padding: 0.2em 0.4em;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-width: 1px;
    border-style: solid;
    border-color: #d4d4d4;
    background: #fff;
}

textarea {
    height: 10em;
    vertical-align: top;
    overflow: auto;
	border-right: #646464 ;
    border-top: #646464;
    border-left: #646464;
    border-bottom: #646464;
    width:100%;
	color: #ffffff;
    background: #000000;
}

.intro-text {
	color: #63666a;
    font-size: 24px;
	font-weight: 700;
    font-family: lato,sans-serif,Arial;
    line-height: 1.4;
}

.yatu_list {
	margin-bottom:8px !important;
}

table {
	width: 100%;
}

thead, tbody { display: block; }

tbody {
    height: 500px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

.header-room {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
}

.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
  }

.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
  }

.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }

.arrow.top {
    top: -16px;
    bottom: auto;
  }

.arrow.left {
    left: 20%;
  }

.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.arrow.top:after {
    bottom: -20px;
    top: auto;
  }