.smallTextButton{
  width: 60px;
  height: 30px;
}

.bigsmallTextButton{
  width: 200px;
  height: 32px;
}

.textButton{
	text-align: left !important;
	border: none;
	background-color: #d3d3d3;
	transition: all ease-in-out 0.2s;
	cursor: pointer;
	margin-bottom: 1px;
}

.textButton:hover{
  border: 1px solid #888;
  background-color: #a9a9a9;
}