.smallTextButton{
  width: 34px;
  height: 30px;
}

.bigTextButton {
  width: 200px;
  height: 32px;
}

.textButton{
	text-align: left !important;
	border: none;
	transition: all ease-in-out 0.2s;
	cursor: pointer;
	margin-bottom: 1px;
	z-index: 66 !important;	
}

.textButton:hover{
  border: 1px solid #888;
  background-color: #1aff8c;
  font-weight: 700;
}

.textButton-seledcted {
  border: 1px solid #888;
  background-color: #a9a9a9;
  font-weight: 700;
}

.yt-list-panel-right {
	width: 48% !important;
	height: 700px;
	overflow-y: auto;
	margin-right: 0 !important;
	border-top: outset 4px orange;
	border-right: outset 4px orange;
	border-bottom: outset 4px orange;
}

.yt-list-panel-left {
	height: 700px !important;
    overflow-y: auto;    			/* Trigger vertical scroll    */
    overflow-x: hidden;  			/* Hide the horizontal scroll */
	font-family: 'Merriweather';
    font-weight: 300;
	font-size: 20px;
    line-height: 1.5;
	background: #ccffff !important;
	color: #000000;
	border:outset 4px orange;
}

.yt-list-element {
	width: 90% !important;
	
}